* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  background-color: white;
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  width: 250px;
  height: 57px;
  font-weight: bold;
  background-color: rgb(255, 127, 80);
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
}
#grid-size {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
